
body {
    background-image: url("https://cdn.pixabay.com/photo/2015/03/24/16/51/background-687823_960_720.jpg");
    background-size: 1500px
}

.nav-link {
    font-size: 8px;
    text-align: center;
    position: relative;
    right: 10px

}

.photo-heading {
    display: block;
    width: 80%;
    position: relative;
    right: 5px;
    margin-top: 50px;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Cinzel', serif;
    padding: 60px;
    text-align: center;
    color: black;
    font-size: 30px;
}

video {
    width: 200px;
    height: 200px
}

.contact {
    font-size: 10px;
}

.about, .work, .contact {
    margin-top: 100px;
}

.work img {
    float: left;
    width: 33.33%;
    padding: 5px;
    position: relative; 
    left: 20px;
    margin-bottom: 50px;
}

.work img:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

@media (min-width: 320px) {
   

}
